@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

@import "tailwindcss";


@theme {

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-white: #FFFFFF;
  --color-black: #242424;
  --color-grey: #F3F3F3;
  --color-dark-grey: #6B6B6B;
  --color-red: #FF4E4E;
  --color-transparent: transparent;
  --color-twitter: #1DA1F2;
  --color-purple: #8B46FF;
    }

    .app {
      height: 100%;
      width: 100%;
      font-family: "Rubik", sans-serif;
    }

    @layer components {

    /* html{
      @apply p-0 m-0 overflow-x-hidden;
    }*/

    body {
      /* @apply font-normal m-0 p-0 bg-[#15202b] text-white; */
      @apply font-normal m-0 p-0 bg-[#15202b] text-white;
    } 
    .textcol{
      @apply text-[#5eeccc] hover:text-[#1be415]
    }  

    .texthover{
      @apply text-white hover:text-[#1be415]
    }  

    .buttoncol {
      @apply bg-[#5eeccc] hover:bg-[#1be415] text-black
    }

    .buttoncol2 {
      @apply px-3 py-1 my-2 bg-gray-600 hover:bg-gray-700 text-gray-300 cursor-pointer
    }

    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    /* emoji */
    /* Hide scrollbar in Emoji Picker */
.EmojiPickerReact .epr-body::-webkit-scrollbar {
  display: none;
}

  .EmojiPickerReact .epr-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

